<ion-header [translucent]="true">
  <ion-toolbar style="background-color: cornflowerblue;">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/scheduled"></ion-back-button>
    </ion-buttons>
    <ion-title>Lists</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">
 <ion-card-content class="content">
  <ion-card ><span class="centered-text">Today</span>
  <ion-card>
     <span class="today">Morning</span>
  </ion-card>
  <ion-card>
     <span class="today">Afternoon</span>
  </ion-card>
  <ion-card>
    <span class="today">Tonight</span>
  </ion-card>
  </ion-card>
 </ion-card-content>
</ion-content>
